.mainPage{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow : auto;
    align-items: center;
    align-content: center;
}

.searchBar{
    display: inline-block;
    display: block;
}

.result{
    margin-top: 3%;
}

h1{
    color: rgb(230, 167, 50) ;
    font-size: 45px;
}

a{
    color: rgb(248, 184, 66);
}

p{
    color: bisque;
}